body {
  position: relative;
    padding-top: 50px;
  }
  @media (min-width: 768px) and (max-width: 979px) {
    body {
      padding-top: 0;
    }
}

#Home { 
	background-color: #1abc9c; /* Green */
    color: #ffffff;
}

#About { 
	background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

#Portfolio { 
	background-color: #1abc9c; /* Green */
    color: #ffffff;
}

#Contact { 
	background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.section {
	height: 100vh;
  padding-top:20vh;
}

.socialA {
  padding: 10px;
}

.social {
    width: 45px;
    height: 45px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align::;center;
    padding-top: 12px;
    border-radius: 50%;
}